//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@font-face {
	font-family: "segoeRegular";
	src: url("../fonts/segoeui.eot");
	src: local("☺"), url("../fonts/segoeui.woff") format("woff"), url("../fonts/segoeui.ttf") format("truetype"),
		url("../fonts/segoeui.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MrsEavesItalic";
	src: url("../fonts/MrsEavesOT-Italic.eot");
	src: local("☺"), url("../fonts/MrsEavesOT-Italic.woff") format("woff"),
		url("../fonts/MrsEavesOT-Italic.ttf") format("truetype"), url("../fonts/MrsEavesOT-Italic.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "segoeLight";
	src: url("../fonts/segoeuil.eot");
	src: local("☺"), url("../fonts/segoeuil.woff") format("woff"), url("../fonts/segoeuil.ttf") format("truetype"),
		url("../fonts/segoeuil.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
	font-family: 'segoebold';
	src: url('../fonts/segoeuib.eot');
	src: local('☺'), url('../fonts/segoeuib.woff') format('woff'), url('../fonts/segoeuib.ttf') format('truetype'), url('../fonts/segoeuib.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
	font-family: "segoebold";
	src: url("../fonts/segoeuib_0.eot");
	src: local("☺"), url("../fonts/segoeuib_0.woff") format("woff"), url("../fonts/segoeuib_0.ttf") format("truetype"),
		url("../fonts/segoeuib_0.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "segoeSemiBold";
	src: url("../fonts/seguisb.eot");
	src: local("☺"), url("../fonts/seguisb.woff") format("woff"), url("../fonts/seguisb.ttf") format("truetype"),
		url("../fonts/seguisb.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "UniversLight";
	src: url("../fonts/Univers CE 45 Light.eot");
	src: local("☺"), url("../fonts/Univers CE 45 Light.woff") format("woff"),
		url("../fonts/Univers CE 45 Light.ttf") format("truetype"), url("../fonts/Univers CE 45 Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ArialLight";
	src: url("../fonts/Univers CE 45 Light.eot");
	src: local("☺"), url("../fonts/Univers CE 45 Light.woff") format("woff"),
		url("../fonts/Univers CE 45 Light.ttf") format("truetype"), url("../fonts/Univers CE 45 Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadPro-Regular.eot");
	src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"),
		url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MyriadProSemibold";
	src: url("../fonts/MyriadPro-Semibold.eot");
	src: local("☺"), url("../fonts/MyriadPro-Semibold.woff") format("woff"),
		url("../fonts/MyriadPro-Semibold.ttf") format("truetype"), url("../fonts/MyriadPro-Semibold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "segoeRegular";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1023;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	/*@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}*/
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms.scss";
//@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
//@import "popup.scss";
@import "header.scss";
@import "footer.scss";
//@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
	/*align-items: flex-start;*/ /*если adaptiveHeight: true*/
}
.slick-list {
}
.banner {
	margin: -293px 0 0 0;

	@media (max-width: $md3+px) {
		margin: -400px 0 0 0;
	}
}
.banner-slider__item {
	display: flex;
	justify-content: center;

	margin: 0 35px 0 0;
	@media (max-width: $md3+px) {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
}

.banner-slider {
	position: relative;
	z-index: 10;
}
.banner-slider__icon {
	//width: 250px;
	//height: 250px;
	position: relative;
	z-index: 10;
	img {
		width: 100%;
		height: 100%;
	}
	@media (max-width: $md2+px) {
		width: 300px;
		height: 300px;
	}
	@media (max-width: $md3+px) {
		width: 250px;
		height: 250px;
	}
}
.banner-slider .slick-arrow {
	position: absolute;
	top: 88px;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid #fff;
	opacity: 0.3;
	@media (max-width: $md4+px) {
		border: none;
		opacity: 1;
	}
}
.banner-slider .slick-arrow.slick-prev {
	left: 52px;
	background: url("../img/banner/arr_l.svg") 50% no-repeat;
	@media (max-width: $md2+px) {
		left: 20px;
	}
	@media (max-width: $md3+px) {
		left: 10px;
	}
	@media (max-width: $md4+px) {
		left: -5px;
	}
}
.banner-slider .slick-arrow.slick-next {
	right: 52px;
	background: url("../img/banner/arr_r.svg") 50% no-repeat;
	@media (max-width: $md2+px) {
		right: 20px;
	}
	@media (max-width: $md3+px) {
		right: 10px;
	}
	@media (max-width: $md4+px) {
		right: -5px;
	}
}
.banner-slider .slick-arrow.slick-disabled {
	opacity: 0.1;
}

.banner-slider__icon {
	margin: 0 55px 0 0;
	@media (max-width: $md2+px) {
		margin: 0 20px 0 0;
	}
	@media (max-width: $md3+px) {
		margin: 0;
	}
}
.banner-slider__text {
	margin: 59px 0 0 13px;
	text-align: left;
	@media (max-width: $md2+px) {
		margin: 30px 0 0 13px;
	}
	@media (max-width: $md3+px) {
		margin: 10px 0 0 13px;
		flex-direction: column;
		align-items: center;
	}
	h2 {
		font-size: 65px;
		color: #fff;
		font-family: MyriadProSemibold;
		@media (max-width: $md2+px) {
			font-size: 55px;
		}
		@media (max-width: $md3+px) {
			font-size: 35px;
		}
	}
	p {
		font-family: segoeLight;
		margin: 0 0 0 0;
		font-size: 45px;
		color: #fff;
		@media (max-width: $md2+px) {
			font-size: 35px;
		}
		@media (max-width: $md3+px) {
			font-size: 25px;
		}
	}
}

.banner-slider__button {
	width: 146px;
	height: 46px;
	margin: 30px 0 0 0;
	background-color: #296e4e;
	border: 4px solid #343c36;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	@media (max-width: $md3+px) {
		width: 100%;
	}
}
.banner-slider__btn {
	font-family: "segoeLight";
	color: #ffffff;
	font-size: 23px;
	padding: 5px 0 0 0;
}

//=========================================================================================================
.main-tabs {
	margin: 25px 0 0 0;
	&__links {
		display: flex;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}

	&__link {
		font-family: segoeLight;
		padding: 30px 0 0 0;
		min-height: 300px;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex: 1 0 25%;
		border-bottom: 1px solid #dedede;

		@media (max-width: $md3+px) {
			flex-basis: 50%;
			min-height: 220px;
		}
		@media (max-width: $md4+px) {
			padding: 10px 0 0 0;
		}
	}
	&__link:nth-child(1) > &__icon {
		background: url(../img/main-tabs/main-tabs__links/layer_1.svg) 50% no-repeat;
	}
	&__link:nth-child(2) > &__icon {
		background: url(../img/main-tabs/main-tabs__links/layer_2.svg) 50% no-repeat;
	}
	&__link:nth-child(3) > &__icon {
		background: url(../img/main-tabs/main-tabs__links/layer_3.svg) 50% no-repeat;
	}
	&__link:nth-child(4) > &__icon {
		background: url(../img/main-tabs/main-tabs__links/layer_4.svg) 50% no-repeat;
	}
	&__icon {
		width: 137px;
		height: 157px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: $md4+px) {
			transform: scale(0.8, 0.8);
		}
	}

	&__title {
		padding: 15px 0 0 0;
		text-align: center;
		line-height: 1.2;
		color: #5c5b5b;
		font-size: 27px;
		@media (max-width: $md4+px) {
			padding: 0;
			font-size: 22px;
		}
	}

	&__subtitle {
		text-align: center;
		line-height: 1.2;
		color: #5c5b5b;
		font-size: 23px;
		@media (max-width: $md3+px) {
			padding: 0px 0px 15px 0px;
		}
		@media (max-width: $md4+px) {
			font-size: 18px;
		}
	}

	&__link {
		&_active {
			font-family: segoeRegular;
			border-bottom: none;
			border-left: 1px solid #dedede;
			border-right: 1px solid #dedede;
			border-top: 1px solid #dedede;
		}
	}
	&__link:hover {
		cursor: pointer;
	}
}

.main-tabs-content {
	display: none;
	padding: 0 55px 0 55px;
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	@media (max-width: $md3+px) {
		padding: 0 20px 0 20px;
	}
	&__image {
		background-repeat: no-repeat;
		background-position: 50% 55%;
		background-size: auto 73%;
		text-align: center;
		min-height: 420px;
		@media (max-width: $md2+px) {
			background-size: 100% 100%;
		}
		@media (max-width: $md3+px) {
			min-height: 400px;
		}
		@media (max-width: $md4+px) {
			min-height: 250px;
		}
	}

	&__title {
		font-family: "segoeLight";
		font-size: 38.7px;
		line-height: 1.2;
		font-weight: 300;
		color: #4f4f4f;
		@media (max-width: $md3+px) {
			font-size: 28px;
		}
	}

	&__text {
		padding: 24px 0 72px 0;
		font-size: 14px;
		line-height: 24px;
		font-weight: 300;
		color: #818181;
		font-family: "UniversLight";
		word-wrap: break-word;
		@media (max-width: $md3+px) {
			padding: 28px 0 30px 0;
		}
	}

	&_active {
		display: block;
	}
}
.ibg {
	img {
		display: none;
	}
}

//=========================================================================================================
.why {
	padding: 16px 0 56px 0;
	display: flex;
	margin: 0 -100px 0 0;
	@media (max-width: 1279+px) {
		margin: 0;
	}
	@media (max-width: $md3+px) {
		display: block;
		padding: 16px 0 30px 0;
	}

	&__screen-shot {
		margin: 0 40px 0 -18px;
		min-height: 338px;
		min-width: 486px;

		img {
			height: 100%;
			width: 100%;
		}
		@media (max-width: $md1+px) {
			margin: 0 20px 0 0;
		}
		@media (max-width: $md3+px) {
			margin: 0;
		}
		@media (max-width: $md4+px) {
			margin: 0;
			min-height: 172px;
			min-width: 320px;
		}
	}
	&__text {
		padding: 21px 0 0 0px;

		@media (max-width: $md1+px) {
			padding: 0;
		}
		@media (max-width: $md3+px) {
			margin: 0 0 0 20px;
		}
	}

	&__text-title {
		font-family: "segoeLight";
		font-size: 33px;
		line-height: 1.2;
		font-weight: 300;
		color: #4f4f4f;
	}

	&__text-list {
		padding: 22px 0 0 0;
		li {
			background: url("../img/why/why__text/why__text__list/01.svg") left top no-repeat;
			padding: 0 0 20px 30px;
			@media (max-width: $md2+px) {
				padding: 0 0 10px 30px;
			}
		}
		li:last-child {
			padding: 0 0 0 30px;
		}
		font-family: UniversLight;
		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
		color: #8a8888;
		@media (max-width: $md2+px) {
			font-size: 14px;
			line-height: 18px;
		}
	}
}

//=========================================================================
.forms {
	display: flex;
	justify-content: space-between;
	margin: 22px 0px 0px 0px;
	@media (max-width: $md1+px) {
		margin: 22px 8px 0px 8px;
	}
	@media (max-width: $md2+px) {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
	&__title {
		font-size: 28px;
		font-family: "segoeLight";
		font-weight: 300;
		color: #ffffff;
		padding: 12px 0 19px 28px;
		@media (max-width: $md4+px) {
			padding: 12px 0 19px 15px;
			font-size: 24px;
		}
	}
	&__login,
	&__subscribe {
		width: 470px;
		height: 109px;
		border-radius: 5px;

		@media (max-width: $md2+px) {
			width: 600px;
		}
		@media (max-width: $md3+px) {
			width: 470px;
		}
		@media (max-width: $md4+px) {
			width: 95%;
			height: 200px;
		}
	}
	&__login {
		background-color: #e67624;
		//margin: 0 10px 0 0;
		@media (max-width: $md2+px) {
			margin: 0 0 20px 0;
		}
		.forms__item {
			margin: 0 14px 20px 28px;
			width: 155px;

			@media (max-width: $md2+px) {
				width: 220px;
			}
			@media (max-width: $md3+px) {
				width: 155px;
			}
			@media (max-width: $md4+px) {
				width: 95%;
				margin: 0 0 15px 0;
			}
			.input {
				font-family: "segoeLight";
				width: 100%;
				font-size: 16px;
				font-weight: 300;
				color: #4f4f4f;
				padding: 3px 0 3px 13px;
				border: 2px solid #e67624;
			}
		}
		.forms__item:nth-child(2) {
			padding: 0;
			margin: 0;
			@media (max-width: $md4+px) {
				margin: 0 0 15px 0;
			}
		}
	}

	&__subscribe {
		margin: 0 14px 0 0px;
		background-color: #01d4f3;
		@media (max-width: $md2+px) {
			margin: 0;
		}
		@media (max-width: $md4+px) {
			width: 95%;
			height: 160px;
			//padding: 0 10px 0 10px;
		}
		.forms__item {
			margin: 0 14px 20px 28px;
			width: 266px;
			@media (max-width: $md2+px) {
				width: 400px;
			}
			@media (max-width: $md3+px) {
				width: 266px;
			}
			@media (max-width: $md4+px) {
				width: 95%;
			}

			.input {
				font-family: "segoeLight";
				width: 100%;
				font-size: 16px;
				font-weight: 300;
				color: #4f4f4f;
				padding: 3px 0 3px 13px;
				border: 2px solid #01d4f3;
			}
		}
	}
	&__block {
		display: flex;
		@media (max-width: $md4+px) {
			flex-direction: column;
			align-items: center;
		}
	}
	.input.err {
		border: 2px solid red;
	}
}

.button {
	&_login {
		font-family: "segoeLight";
		background-color: #444444;
		margin: 0 0 0 11px;
		width: 94px;
		height: 30px;
		font-size: 16px;
		font-weight: 300;
		color: #ffffff;
		padding: 0;
		@media (max-width: $md4+px) {
			margin: 0 14px 20px 0;
		}
	}

	&_subscribe {
		font-family: "segoeLight";
		width: 111px;
		height: 30px;
		background-color: #029bb1;
		font-size: 16px;
		font-weight: 300;
		color: #ffffff;
		padding: 0;
		margin: 0 0 0 35px;
		@media (max-width: $md4+px) {
			margin: 0 14px 20px 0;
		}
	}
}

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
